/* Write your CSS here */
.footer {
  background-color: #e2e8f0;
  height: 10vh;
  width: 80%;
  background-size: cover;
  justify-content: center;
  padding: 5px;
}

.head {
  color: #475569;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto';
}
